extends ../layouts/layout

block head
  - var pageTitle = 'Главная'

block content
  +header

  .container content here

  .container
    div content here too test
      img(src='images/bg.png')


  a(href='/sitemap.html') link
