extends ../layouts/layout

block head
  - var pageTitle = 'Карта сайта'
  style(type='text/css').
    .link {display: block; line-height: 2; font-size: 20px}
    .sitemap__list {margin: 50px;}

block content
  .container.sitemap__list
    a(target="_blank" class="link" href="index.html") Главная (index.html)
    a(target="_blank" class="link" href="catalog.html") Каталог (catalog.html)
    a(target="_blank" class="link" href="search.html") Поиск (search.html)
    a(target="_blank" class="link" href="card.html") Карточка товара (card.html)
    a(target="_blank" class="link" href="installation.html") Монтаж (installation.html)
    a(target="_blank" class="link" href="payment.html") Оплата (payment.html)
    a(target="_blank" class="link" href="delivery.html") Доставка (delivery.html)
    a(target="_blank" class="link" href="brand.html") Брэнд (brand.html)
    a(target="_blank" class="link" href="article.html") Статья (article.html)
    a(target="_blank" class="link" href="articles.html") Статьи (articles.html)
    a(target="_blank" class="link" href="project.html") Проекты (project.html)
    a(target="_blank" class="link" href="projects.html") Каталог Проектов (projects.html)
    a(target="_blank" class="link" href="select.html") Избранное (select.html)
    a(target="_blank" class="link" href="comparision.html") Сравнение (comparision.html)
    a(target="_blank" class="link" href="contacts.html") Контакты (contacts.html)
    
